
@{
    ViewBag.Title = "success";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Confirmation massage</h5>
        <p class="card-text">Thank you for your registration we will contact you very soon.</p>
    </div>
</div>

<a href="@Url.Action("Index","Home")" class="btn"> Back To Home</a>|
<a href="@Url.Action("Index","CheckAvailabilities")" class="btn"> Back to list</a>